{% extends "root_sidebar.html" %}

{% block content %}
<div class="container">
  <div class="card my-3">
    <div class="card-header">
      Roles<span class="badge text-bg-secondary rounded-4 py-1 px-2 ms-2">{{vehicle.roles|length}}</span> 
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Role Name</th>
            <th scope="col">View Location</th>
            <th scope="col">View Weather</th>
            <th scope="col">View Heartbeat</th>
            <th scope="col">Write Heartbeat</th>
            <th scope="col">View Gas</th>
            <th scope="col">Email Gas</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <form method="POST">
              <td><input type="text" id="role_name" name="role_name"></input></td>
              <td><input type="checkbox" name='view_location'></input></td>
              <td><input type="checkbox" name='view_weather'></input></td>
              <td><input type="checkbox" name='view_heartbeat'></input></td>
              <td><input type="checkbox" name='write_heartbeat'></input></td>
              <td><input type="checkbox" name="view_gas"></input></td>
              <td><input type="checkbox" name="email_gas"></input></td>
              <td><button class="btn btn-primary btn-block" type="submit">Create Role</button></td>
            </form>
          </tr>
          {% for role in vehicle.roles %}
          <tr>
            <td>{{ role.name }}</td>
            <td>
              {% if role.view_location == false %}
              <i class="fa-solid fa-x"></i>
              {% elif role.view_location == true %}
              <i class="fa-solid fa-check"></i>
              {% endif %}
            </td>
            <td>
              {% if role.view_weather == false %}
              <i class="fa-solid fa-x"></i>
              {% elif role.view_weather == true %}
              <i class="fa-solid fa-check"></i>
              {% endif %}
            </td>
            <td>
              {% if role.view_heartbeat == false %}
              <i class="fa-solid fa-x"></i>
              {% elif role.view_heartbeat == true %}
              <i class="fa-solid fa-check"></i>
              {% endif %}
            </td>
            <td>
              {% if role.write_heartbeat == false %}
              <i class="fa-solid fa-x"></i>
              {% elif role.write_heartbeat == true %}
              <i class="fa-solid fa-check"></i>
              {% endif %}
            </td>
            <td>
              {% if role.view_gas == false %}
              <i class="fa-solid fa-x"></i>
              {% elif role.view_gas == true %}
              <i class="fa-solid fa-check"></i>
              {% endif %}
            </td>
            <td>
              {% if role.email_gas == false %}
              <i class="fa-solid fa-x"></i>
              {% elif role.email_gas == true %}
              <i class="fa-solid fa-check"></i>
              {% endif %}
            </td>
            <td>
              <form method="POST">
                <input type="hidden" id="delete_form" name="delete_form" value={{role.id}}>
                <button class="btn btn-outline-danger btn-block" type="submit">Delete</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="row justify-content-between">
        <div class="col">
          Follower<span class="badge text-bg-secondary rounded-4 py-1 px-2 ms-2 me-1">{{vehicle.follows|length}}</span>
        </div>
        <div class="col ms-auto">
          <button class="btn btn-success invisible" id="save_btn" onclick="save_changes();">Save Changes</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
          </tr>
        </thead>
        <tbody>
          {% for follow in vehicle.follows %}
          <tr>
            <td>{{ follow.user.username }}</td>
            <td>{{ follow.user.email }}</td>
            <td>
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="roledropdown_{{follow.user.username}}" data-bs-toggle="dropdown">{{follow.role.name if follow.role.name else "None"}}</a>
                <ul class="dropdown-menu role_dropdown" id="dropdown_{{follow.user.username}}">
                  {% for role in vehicle.roles %}
                  <li><a class="dropdown-item" href="#" id={{role.name}} onclick="thingie(this, '{{follow.user.username}}');">{{role.name}}</a></li>
                  {% endfor %}
                  <li><a class="dropdown-item" href="#" id="None" onclick="thingie(this, '{{follow.user.username}}');">None</a></li>


                </ul>
              </div>

            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
{% block js %}
<script>
  // Create a map of {user: original_role} so we can tell what has changed
  var original_role_map = Object.create(null);
  var original_roles = document.querySelectorAll(".role_dropdown")
  for (let i = 0; i < original_roles.length; i++) {
    var name = original_roles[i].id.slice(9, original_roles[i].id.length)
    original_role_map[name] = document.getElementById("roledropdown_"+name).innerHTML;
  }

  var changed = Object.create(null);

  function thingie(role, user) {

    dropdown = document.getElementById("roledropdown_"+user);
    if (original_role_map[user] != role.id) {
      changed[user] = role.id
      dropdown.classList.remove("btn-secondary");
      dropdown.classList.add("btn-outline-success");
    }
    else {
      delete changed[user];
      dropdown.classList.remove("btn-outline-success");
      dropdown.classList.add("btn-secondary")
    }
    console.log(changed);
    dropdown.innerHTML = role.id;


    if (!!Object.keys(changed).length) {
      console.log('hi')
      document.getElementById("save_btn").classList.remove('invisible')
    }
    else{
      document.getElementById("save_btn").classList.add('invisible');
    }
  }
  
  function save_changes() {
    console.log(changed)
    fetch("http://127.0.0.1:5000/api/vehicle/{{vehicle.name}}/role.json", {
      method: "PATCH",
      body: JSON.stringify(changed),
      headers: {
        "Content-type": "application/json; charset=UTF-8"
      }
    })
  }
</script>
{% endblock %}
