{% extends "root_sidebar.html" %}

{% block content %}
<div class="container-fluid px-4">
  <h1 class="mt-4">Heartbeat</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/vehicle/{{vehicle.name}}.html">{{vehicle.name}}</a></li>
    <li class="breadcrumb-item active">Heartbeat</li>
  </ol>
  <div class="card">
    <div class="card-body py-0">
      <div style='height:100%;'>
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block js %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['T-5h', 'T-4h', 'T-3h', 'T-2h', 'T-1h', 'T+0h'],
        datasets: [{
          label: 'Off',
          data: {{chart_health.offline}},
          borderWidth: 1,
          backgroundColor: 'rgba(0, 0, 0, 0.1)', 
        }, {
          label: 'No Server',
          data: {{chart_health.no_server}},
          borderWidth: 1,
          backgroundColor: 'rgba(255, 100, 54, 0.5)'
        }, {
          label: 'No Internet',
          data: {{chart_health.no_internet}},
          borderWidth: 1,
          backgroundColor: 'rgba(255, 252, 187, 0.5)'
        }, {
          label: 'Online',
          data: {{chart_health.online}},
          borderWidth: 1,
          backgroundColor: 'rgb(144, 238, 144, 0.5)'
        }]
      },
      options: {
        scales: {
          y: {
            stacked: true,
            beginAtZero: true
          },
          x: {
            stacked: true,
          }
        }
      }
    });
  </script>
  {% endblock %}
