<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{context.title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="log-tab" data-bs-toggle="tab" data-bs-target="#log" type="button" role="tab" aria-controls="log" aria-selected="true">Application Log</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="aps-tab" data-bs-toggle="tab" data-bs-target="#aps" type="button" role="tab" aria-controls="aps" aria-selected="false">APScheduler</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="web-tab" data-bs-toggle="tab" data-bs-target="#web" type="button" role="tab" aria-controls="web" aria-selected="false">Server Traffic</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="log" role="tabpanel" aria-labelledby="log-tab">
        <div id="log_log">
            Loading logs..
        </div>
      </div>
      <div class="tab-pane fade" id="aps" role="tabpanel" aria-labelledby="aps-tab">
          <div id="aps_log">
            Loading logs..
        </div>
      </div>
        <div class="tab-pane fade" id="web" role="tabpanel" aria-labelledby="web-tab">
          <div id="web_log">
            Loading logs..
        </div>
      </div>
    </div>
</div>


<script>
    var ws_log = new WebSocket("ws://raspberrypi.local:8000/ws/log");
    ws_log.onmessage = function (event) {
        var log_html = document.getElementById("log_log");
        var aps_html = document.getElementById("aps_log");
        var web_html = document.getElementById("web_log");

        log_data = JSON.parse(event.data);

        log_html.innerHTML = log_data.log;
        aps_html.innerHTML = log_data.APScheduler;
        web_html.innerHTML = log_data.Webserver;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>