<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{context.title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Log Name</th>
                <th scope="col">Size</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for log in context.log_sizes %}
            <tr>
                <th scope="row">{{ log.name }}</th>
                <td id="{{log.name}}_size"> Loading...</td>
                <td><button type="button" value={{log.name}} onclick="delete_log(this.value)" class="btn btn-outline-danger btn-sm">Delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="log-tab" data-bs-toggle="tab" data-bs-target="#log" type="button" role="tab" aria-controls="log" aria-selected="true">Application Log</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="aps-tab" data-bs-toggle="tab" data-bs-target="#aps" type="button" role="tab" aria-controls="aps" aria-selected="false">APScheduler</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="web-tab" data-bs-toggle="tab" data-bs-target="#web" type="button" role="tab" aria-controls="web" aria-selected="false">Server Traffic</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="log" role="tabpanel" aria-labelledby="log-tab">
        <div id="log_log">
            Loading logs...
        </div>
      </div>
      <div class="tab-pane fade" id="aps" role="tabpanel" aria-labelledby="aps-tab">
          <div id="aps_log">
            Loading logs...
        </div>
      </div>
        <div class="tab-pane fade" id="web" role="tabpanel" aria-labelledby="web-tab">
          <div id="web_log">
            Loading logs...
        </div>
      </div>
    </div>
</div>


<script>
    var ws_log = new WebSocket("ws://raspberrypi.local:8000/logs/ws/logs");
    ws_log.onmessage = function (event) {
        var log_html = document.getElementById("log_log");
        var aps_html = document.getElementById("aps_log");
        var web_html = document.getElementById("web_log");

        log_data = JSON.parse(event.data);
        aps_html.innerHTML = log_data.APScheduler.log;
        web_html.innerHTML = log_data.Webserver.log;
        console.log(log_data.log.log)
        var log_div = document.getElementById("log_log");
        for (line in log_data.log.log) {
            console.log(line)
            log_div.insertAdjacentHTML("beforeend", line);
        }



        document.getElementById("log_size").innerHTML = log_data.log.size.toFixed(3) + " " + log_data.log.size_type;
        document.getElementById("APScheduler_size").innerHTML = log_data.APScheduler.size.toFixed(3) + " " + log_data.log.size_type;
        document.getElementById("Webserver_size").innerHTML = log_data.Webserver.size.toFixed(3) + " " + log_data.log.size_type;
    }

    function delete_log(val){
        fetch("http://raspberrypi.local:8000/logs/"+val+".json", {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
            body: null //if you do not want to send any addional data,  replace the complete JSON.stringify(YOUR_ADDITIONAL_DATA) with null
        })
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>