{% extends "root.html" %}

{% block title %}Logs{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Logs</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Logs</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <button class="nav-link active" id="webserver-tab" data-bs-toggle="tab" data-bs-target="#webserver" type="button" role="tab" aria-controls="webserver" aria-selected="false">Webserver</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="traffic-tab" data-bs-toggle="tab" data-bs-target="#traffic" type="button" role="tab" aria-controls="traffic" aria-selected="false">Traffic</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="apscheduler-tab" data-bs-toggle="tab" data-bs-target="#apscheduler" type="button" role="tab" aria-controls="apscheduler" aria-selected="false">APScheduler</button>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="webserver" role="tabpanel" aria-labelledby="log-tab">
                    <div id="webserver_log">
                        Loading webserver logs...
                    </div>
                </div>
                <div class="tab-pane fade show" id="traffic" role="tabpanel" aria-labelledby="log-tab">
                    <div id="traffic_log">
                        Loading traffic logs...
                    </div>
                </div>
                <div class="tab-pane fade show" id="apscheduler" role="tabpanel" aria-labelledby="log-tab">
                    <div id="apscheduler_log">
                        Loading APScheduler logs...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}