{% extends "root.html" %}
{% block title %}Schedule{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Schedule</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Schedule</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            <form method="POST" action="/schedule.json">
                <div class="row">
                    <div class="col">
                        <select class="form-select" aria-label="Default select example">
                        {% for job in schedules %}
                        <option value="{{job.id}}">{{ job.id }}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-secondary">Reschedule</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Scheduled Jobs
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Trigger</th>
                    <th>Next Run</th>
                    <th>Max Instances</th>
                    <th>Misfire Grace</th>
                    <th>Active</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Trigger</th>
                    <th>Next Run</th>
                    <th>Max Instances</th>
                    <th>Misfire Grace</th>
                    <th>Active</th>
                </tr>
                </tfoot>
                <tbody>
                {% for job in schedules %}
                <tr>
                    <td>{{ job.id }}</td>
                    <td>{{ job.description }}</td>
                    <td>{{ job.trigger }}</td>
                    <td>{{ job.next_run_time }}</td>
                    <td>{{ job.max_instances }}</td>
                    <td>{{ job.misfire_grace_time }}</td>
                    <td>{{ job.active }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="static/js/schedule.js"></script>
{% endblock %}