{% extends "root.html" %}
{% block title %}Data{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">SQL Queries</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">SQL</li>
    </ol>
</div>
<form method="POST">
    <div class="form-group">
        <textarea class="form-control" name='sql_query' rows="5"></textarea>
    </div>
    <button class="btn btn-primary">Query</button>
</form>
{% endblock %}