{% extends "base.html" %} {% block title %}Maintenance{% endblock %}

{% block content %}
<br>
<div>
    <!-- Top Title bar with utility buttons -->
    <div class="form-inline">
        <h3 style="margin-right:auto;">Maintenance</h3>
        <button style="margin:10px;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#mechanicForm" aria-expanded="false" aria-controls="collapseExample">New Mechanic</button>
        <button style="margin:10px;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#maintenanceForm" aria-expanded="false" aria-controls="collapseExample">New Maintenance Record</button>
    </div>
</div>
<div>
    <!-- Form for adding a new mechanic -->
    <form method="POST" class="collapse" name="mechanicForm" id="mechanicForm">
        <h3 align="center">Mechanic</h3>
        <div class="row">
            <div class="col">
              <label for="mechanicName">Name</label>
            <input type="text" class="form-control" id="mechanicName" name="mechanicName" placeholder="Enter Email">
            </div>
        </div>
        <div class="row">
            <div class="col">
              <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter Phone">
            </div>
            <div class="col">
              <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
            </div>
        </div>
        <div class="row">
            <div class="col">
              <label for="street">Street Address</label>
            <input type="text" class="form-control" id="street" name="street" placeholder="Enter Street Address">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="Enter City">
            </div>
            <div class="col">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" name="state" placeholder="Enter State">
            </div>
            <div class="col">
                <label for="zip">Zip</label>
                <input type="text" class="form-control" id="zip" name="zip" placeholder="Enter City">
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary" value="newMechanic" name="submit">New Mechanic</button>
    </form>
</div>
<div>
    <!-- Form for adding new maintenance record -->
    <form method="POST" class="collapse" name="maintenanceForm" id="maintenanceForm">
        <h3 align="center">Maintenance</h3>
        <div class="row">
            <div class="col">
                <label for="mechanicSelected">Mechanic</label>
                <select class="custom-select mr-sm-2" id="mechanicSelected" name="mechanicSelected">
                    <option selected>Mechanic</option>
                    {% for mechanic in current_user.mechanics %}
                    <option value="{{mechanic.id}}">{{mechanic.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="invoiceCost">Total Invoice Cost:</label>
                <input type="text" class="form-control" id="invoiceCost" name="invoiceCost" placeholder="Enter Total Invoice Cost">
            </div>
            <div class="col">
                <label for="mileage">Mileage</label>
                <input type="text" class="form-control" id="mileage" name="mileage" placeholder="Enter Milage">
            </div>
            <div class="col">
                <label for="date">Date (MM/DD/YYYY- PLEASE)</label>
                <input type="text" class="form-control" id="date" name="date" placeholder="MM/DD/YYYY">
            </div>
            <div class="col">
                <label for="invoiceNumber">Invoice # (Optional)</label>
                <input type="text" class="form-control" id="invoiceNumber" name="invoiceNumber" placeholder="Invoice #">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="descriptionOfWork" >Description of work</label>
                <textarea class="form-control" id="descriptionOfWork" name="descriptionOfWork"></textarea>
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary" value="newRecord" name="submit">Save Maintenance Record</button>
    </form>
</div>
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Description</th>
              <th scope="col">Date & Mileage</th>
              <th scope="col">Mechanic</th>
              <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
        {% for record in current_user.maintenance %}
            <tr>
                <!-- Description of work cell -->
                <td style="width: 500px;"><p style="white-space: pre-line">{{record.description_of_work}}</p></td>

                <!-- Date and mileage cell -->
                <td>
                    <p style="white-space: pre-line">
                        {{record.date_invoiced.strftime("%m/%d/%Y")}}
                        {{ "{:,}".format(record.mileage) }} mi.
                    </p>
                </td>

                <!-- Mechanic Information cell -->
                <td>
                    <div style="width:50px">
                        <p style="white-space: pre-line">
                        {{ mechanic_map.get(record.mechanic_id).name }}
                        </p>
                    </div>
                </td>

                <!-- Cost cell -->
                <td>
                    <p style="white-space: pre-line">
                        {{'%0.2f'| format((record.cost_invoiced/100)|float)}}
                    </p>
                </td>

                <!-- Utility buttons cell (Open Archive, Edit, and Delete) -->
                <td class="btn-group-vertical">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="bi bi-archive"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="bi bi-pen"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-id="{{record.id}}">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
</table>

<!-- Confirm Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="confirmDelete" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDelete">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
          <!-- TODO: Make the delete description... more descriptive -->
          You are attempting to delete the following record, are you sure?
          <span id="record_id"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Confirm Delete</button>
      </div>
    </div>
  </div>
</div>
<script>
    // This script handles the confirm delete method
    var deleteModal = document.getElementById('deleteModal')
    deleteModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var record_id = event.relatedTarget.getAttribute('data-bs-id');
        console.log(record_id);
        document.getElementById("record_id").textContent="Maintenance Record: "+record_id;
})
</script>

{% endblock %}