{% extends "base.html" %} {% block title %}Push{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Log In</h3>
    <div class="form-group">
        <label for="latitude">Latitude</label>
        <input type="text" class="form-control" id="latitude" name="latitude" placeholder="Enter Latitude">
    </div>
    <div class="form-group">
        <label for="longitude">Longitude</label>
        <input type="password" class="form-control" id="longitude" name="longitude" placeholder="Enter Longitude">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}