{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<h1>Van Status</h1>
<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">Location Information for {{coordinates}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Pulled from Tomorrow.io at {{weather_time}}</h6>
    <p class="card-text">Temperature: {{weather_data.temperature}}c.</p>
    <p class="card-text">Feels Like: {{weather_data.temperatureApparent}}c.</p>
    <p class="card-text">Humidity: {{weather_data.humidity}}%</p>
    <p class="card-text">Visibility: {{weather_data.visibility}}</p>
    <p class="card-text">Precipitation Chance: {{precipitationProbability}}%</p>
    <p class="card-text">
      Wind -
        <br>&emsp;Speed: {{weather_data.windSpeed}}m/s
        <br>&emsp;Gusting: {{weather_data.windGust}}m/s
        <br>&emsp;Direction: {{weather_data.windDirection}} degrees
    </p>
  </div>
</div>
<br/>
<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/view?key={{gmkey}}
    &center={{coordinates}}
    &zoom=15
    &maptype=satellite">
</iframe>
{% endblock %}