{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<h1>Van Status</h1>
<div>
  <h3>Temp / History</h3>
  <canvas id="myChart" width="200" height="100"></canvas>
</div>
<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">Location Information for {{coordinates}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Pulled from Tomorrow.io at {{weather_time}}</h6>
    <p class="card-text">Temperature: {{weather_data.temperature}}c.</p>
    <p class="card-text">Feels Like: {{weather_data.temperatureApparent}}c.</p>
    <p class="card-text">Humidity: {{weather_data.humidity}}%</p>
    <p class="card-text">Visibility: {{weather_data.visibility}}</p>
    <p class="card-text">Precipitation Chance: {{weather_data.precipitationProbability}}%</p>
    <p class="card-text">
      Wind -
        <br>&emsp;Speed: {{weather_data.windSpeed}}m/s
        <br>&emsp;Gusting: {{weather_data.windGust}}m/s
        <br>&emsp;Direction: {{weather_data.windDirection}} degrees
    </p>
  </div>
</div>
<br/>
  Location
  <div id="mapdiv" style="height:100%;"></div>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script>
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());

    var lonLat = new OpenLayers.LonLat({{last_gps.longitude}},{{last_gps.latitude}})
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          );

    var zoom=16;

    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);

    markers.addMarker(new OpenLayers.Marker(lonLat));

    map.setCenter (lonLat, zoom);
  </script>
<script src="{{url_for('static', filename='status.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
  line_chart("myChart", {{temp_chart|tojson()}});
</script>
{% endblock %}