{% extends "base.html" %} {% block title %}Push{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Manual Update</h3>
    <div class="form-group">
        <label for="latitude">Latitude</label>
        <input type="text" class="form-control" id="latitude" name="latitude" placeholder="Enter Latitude">
    </div>
    <div class="form-group">
        <label for="longitude">Longitude</label>
        <input type="text" class="form-control" id="longitude" name="longitude" placeholder="Enter Longitude">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit Update</button>
</form>
<script>
    // This function will check if location sharing is enabled with the browser and if so will update
    console.log("hello");
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            document.getElementById("latitude").value = position.coords.latitude;
            document.getElementById("longitude").value = position.coords.longitude;
    });} else {
        console.log("Enable sharing to autofill latitude and longitude");
    }
</script>
{% endblock %}